@font-face {
  font-family: "GT Maru";
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/GT-Maru-Regular.woff') format('woff');
}

@font-face {
  font-family: "GT Maru";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/GT-Maru-Medium.woff2");
}

@font-face {
  font-family: "GT Maru";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/GT-Maru-Bold.woff2");
}
