@font-face {
  font-family: 'GT Maru Regular';
  src: url('/fonts/GT-Maru-Regular.woff') format('woff'),
    url('/fonts/GT-Maru-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru Bold';
  src: url('/fonts/GT-Maru-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru Mono';
  src: url('/fonts/GT-Maru-Mono-Regular.woff') format('woff'),
    url('/fonts/GT-Maru-Mono-Regular-Oblique.woff') format('woff'),
    url('/fonts/GT-Maru-Mono-Bold.woff') format('woff');
  font-display: swap;
}
