@import 'fonts.css';
@import 'variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $bodyFontFamily;
  * {
    box-sizing: border-box;
  }
  font-style: normal;
  font-weight: 500;
  color: $textColor;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* USED IN MANY SECTIONS */
.section-page {
  position: relative;
  width: 100%;
}
.container-even {  
  background-color: $backgroundEven;
  .item-headline {
    color: $textColorHeadlineEven;
  }
  .item-paragraph {
    color: $textColorParagraphEven;

  }
}
.container-odd {
  background-color: $backgroundOdd;
  .item-headline {
    color: $textColorHeadlineOdd;
  }
  .item-paragraph {
    color: $textColorParagraphOdd;
  }
}
.container-content {
  max-width: $contentMaxWidth;
  margin: 0 auto;
  padding-top: $contentPaddingDesktop;
  @media (max-width: 600px) {
    padding-top: $contentPaddingMobile;
  }
}
.section-tag {
  color: $textColorTag;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -2.3%;
  margin: $marginDesktopSmall;
  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 32px;
    margin: 0 20px;
  }
}
.section-headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  letter-spacing: -2.3%;
  margin: $marginDesktopSmall;
  @media (max-width: 600px) {
    font-size: 32px;
    line-height: 64px;
    margin: 0 20px;
  }
}
.section-paragraph {  
  font-weight: 400;
  font-size: 22px;
  line-height: 39.6px;
  letter-spacing: 0.5px;
  margin: $marginDesktopSmall;
  @media (max-width: 600px) {
    font-size: 14px;
    line-height: 23.8px;
    margin: 0 20px;
  }
}
.section-button {
  border: 0.85px solid $borderButton;
  border-radius: 0px 17.7px;
  cursor: pointer;
}

/* SECTION OUR SERVICES - 3 */ 
.section-our-services {
  .section-our-services-top {
    max-width: 1090px;
  }
  .section-our-services-paragraph {
    
  }
  .section-our-services-partners {
    display: flex;
    align-items:center;    
    margin: $marginDesktopSmall;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
  .section-our-services-partners-item {
    width: 200px;
    height: 63.27px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    @media (max-width: 600px) {      
      margin: 10px 0;
    }
    img {
      width: 40px;
      max-height: 40px;
      margin: auto 10px auto 0;
    }
    span {
      font-weight: 500;
      font-size: 11.81px;
      line-height: 17.72px;
      letter-spacing: -1.9%;
    }
  }
  .section-our-services-cards {
      padding: $contentPaddingMobile;
      display: flex;
      @media (max-width: 600px) {
        flex-direction: column;
        padding: $contentPaddingMobileSmall;
      }
    .section-our-services-cards-item {
      max-width: 350px;
      padding: 60px 40px;
      margin-right: 20px;
      background: #FFFFFF;
      box-shadow: 3.5px 4px 5px 2.7px rgba(0, 0, 0, 0.04);
      border-radius: 14px 0px;
      @media (max-width: 600px) {
        padding: 20px 20px;
        margin: 10px 0;
      }
    }
    .section-our-services-cards-item-icon {
      height: 40px;
      mix-blend-mode: multiply;
      opacity: 0.68;
    }
    .section-our-services-cards-item-headline {
      color: #000514;
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;
    }
    .section-our-services-cards-item-paragraph {
      color: #000000;
      font-size: 11.6px;
      line-height: 17px;
    }
  }
}
/* END SECTION OUR SERVICE - 3 */ 

/* SECTION OUR ACHIVEMENTS - 4 */ 
.section-our-achievements {  
  .section-our-achievements-top {
    max-width: 1090px;
  }
  .section-our-achievements-middle {
    margin-left: 0;
  }  
  .section-our-achievements-partners {
    display: flex;
    align-items:center;
  }
  .section-our-achievements-partners-item {
    width: 200px;
    height: 63.27px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    img {
      width: 40px;
      max-height: 40px;
      margin: auto 10px auto 0;
    }
    span {
      font-weight: 500;
      font-size: 11.81px;
      line-height: 17.72px;
      letter-spacing: -1.9%;
    }
  }
  .section-our-achievements-cards {
      margin: 60px 0;
      display: flex;
      flex-direction: column;
      @media (max-width: 600px) {
        margin: 40px 0;
      }
    .section-our-achievements-cards-item {
      display: flex;      
      padding: 40px 40px;
      margin-right: 20px;      
      @media (max-width: 600px) {
        padding: 20px 20px;
        margin: 0;
      }
    }
    .section-our-achievements-cards-item-icon {
      height: 20px;
      width: 250px;
      @media (max-width: 600px) {
        height: 8px;
        width: 102px;
      }
      img {
        width: 100%;
      }
    }
    .section-our-achievements-cards-item-number {
      color: $textColorAchievementNumber;
      font-size: 42px;
      line-height: 50px;
      padding: 0 10px;
      margin: 0 20px;
      @media (max-width: 600px) {
        font-size: 29.8974px;
        line-height: 36px;
        margin: auto;
      }
    }
    .section-our-achievements-cards-item-paragraph {
      color: #000000;
      font-size: 11.6px;
      line-height: 17px;
      max-width: 310px;
      @media (max-width: 600px) {
        font-size: 12px;
        line-height: 150%;
      }
    }
  }
  .section-our-achievements-bottom-cards {
    padding: $contentPaddingMobileSmall 0;
    display: flex;
    justify-content: center;    
    @media (max-width: 600px) {
      flex-direction: column;
    }
  .bottom-cards-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 33%;
    @media (max-width: 600px) {
      margin-right: 0;
      width: 100%;
      bottom: -10%;
      margin-bottom: 10px;
    }
    color: #000000;
    background: #FFFFFF;
    box-shadow: 2.81062px 3.37275px 4.68437px 2.2485px rgba(0, 0, 0, 0.04);
    border-radius: 8.3016px 0px;
  }
  .bottom-cards-item-image {
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .bottom-cards-item-headline {
    padding: 20px 40px;    
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: -2.3%;
    height: 120px;
  }
  .bottom-cards-item-paragraph {
    padding: 0px 40px;
    font-size: 14px;
    line-height: 28px;
    ul {
      padding: 10px 20px;
      list-style-position: outside;
    }
  }
}
}
/* END SECTION OUR ACHIVEMENTS - 4 */ 

/* SECTION OUR PROJECT - 5 */ 
.section-our-projects {  
  .section-our-projects-top {
    max-width: 1090px;
  }
  .section-our-projects-paragraph {
    @media (max-width: 600px) {
      display: none;
    }
  }
  .section-our-projects-slider {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 80px;
    .slick-list {
      width: 100%;
    }
    @media (max-width: 600px) {
      padding-bottom: 20px;
    }
  }
  .section-our-projects-slider-item {
    width: 200px;
    height: 150px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    @media (max-width: 600px) {
      width: 200px;
      height: 100px;
    }
  }
  .section-our-projects-slider-item-image {
    max-height: 100px;
    max-width: 150px;
    margin: auto;
    @media (max-width: 600px) {
      width: 100px;
      height: 75px;
    }
  }
}
/* END SECTION OUR PROJECT - 5 */ 

/* SECTION CUSTOMER REVIEW - 6 */ 
.section-customer-review {
  @media (max-width: 600px) {
    display: none;
  }
  .section-customer-review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-customer-review-slider { 
    width: 750px;
    margin: 0 0 80px 0;
    .section-customer-review-slider-item-quote {
      color: #000000;
      font-style: italic;
      font-weight: 400;
      font-size: 22px;
      line-height: 44px;
      letter-spacing: -2.3%;
      text-align: center;
    }
    .section-customer-review-slider-item-name {
      color: #1492FF;
      font-weight: 700;
      font-size: 22px;
      line-height: 44px;
      letter-spacing: -2.3%;
      text-align: center;
    }
    .section-customer-review-slider-item-company {
      color: #1492FF;
      font-style: italic;
      font-weight: 500;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: -2.3%;
      text-align: center;
    }
  }
}
/* END SECTION CUSTOMER REVIEW - 6 */
/* RIGHT SIDE SECTION */
.section-right-side {
  position: absolute;
  right: 60px;
  z-index: 2;
  @media (max-width: 600px) {
    display: none;
  }
  .section-right-side-container.black {    
    color: #000514;
  }
  .section-right-side-container.white {    
    color: #FFFFFF;
  }
  .container-content {
    ul {
      font-size: 11.8px;
      line-height: 23px;
      font-weight: 400;
      letter-spacing: -2.3%;
      padding: 0px 10px;
      list-style-position: outside;
      list-style-type: none;
      text-align: right;
      border-right-color: linear-gradient(90.12deg, #0F90FF 8.33%, #005CD9 46.23%);
      border-right-width: 2px;
      border-right-style: solid;
      li {
        padding: 5px;
        &.selected {
          font-weight: 700;
        }
      }
    }
  }
}
/* END RIGHT SIDE SECTION */
.section1-container {
  background-color: #000514;
  height: 96px;
  display: flex;
  align-items: center;
  padding: 0 64px;
  justify-content: space-between;
  border-bottom: 0.2px solid #1492FF;
  box-shadow: 0px 0px 4px #1492FF;
  
  .anchor {
    display: flex;
    .anchor-item {
      height: 42px;
      width: 128px;
      text-align: center;
      line-height: 38px;
      cursor: pointer;
      a {
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.019em;
        font-feature-settings: 'tnum' on, 'lnum' on;
        text-transform: capitalize;
      }
    }
    .anchor-active {
      background: #000514;
      border: 0.5px solid #1492FF;
      box-shadow: 0px 0px 5px 1px #1492FF;
      border-radius: 0px 14px;
    }
  }
}

.section2-container {
  height: 657px;
  background: #000514;
  .headline {
    padding-top: 143px;
    margin-left: 175px;
    width: 407px;
    font-weight: 700;
    font-size: 39.619px;
    line-height: 150%;
    letter-spacing: 1.03496px;
    font-feature-settings: 'tnum' on, 'lnum' on;
  }
  .emphasize {
    color: #1492FF;
  }
  .paragraph-1 {
    margin-top: 25px;
    margin-left: 175px;
    width: 644px;
    font-weight: 400;
    font-size: 17.5069px;
    line-height: 150%;
    letter-spacing: 0.45733px;
    font-feature-settings: 'tnum' on, 'lnum' on;
  }

  .paragraph-2 {
    margin-top: 57px;
    margin-left: 175px;
    width: 644px;
    font-weight: 400;
    font-size: 17.5069px;
    line-height: 150%;
    letter-spacing: 0.45733px;
    font-feature-settings: 'tnum' on, 'lnum' on;
  }

  .button {
    margin-top: 57px;
    margin-left: 175px;
  }
}
