@import 'fonts.css';
@import 'variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $bodyFontFamily;
  * {
    box-sizing: border-box;
  }
  font-style: normal;
  font-weight: 500;
  color: $textColor;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* SECTION OUR PROJECT - 5 */ 
.section-our-projects {
  .section-our-projects-container {
    background-color: #000514;
    
  }
  .section-our-projects-top {
    max-width: 1090px;

  }
  .section-our-projects-tag {
    color: #1492FF;    
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: -2.3%;
  }
  .section-our-projects-headline {
    color: #FFFFFF;    
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    letter-spacing: -2.3%;
  }
  .section-our-projects-paragraph {
    width: 573px;
    color: #FFFFFF;    
    font-weight: 400;
    font-size: 22px;
    line-height: 39.6px;
    letter-spacing: 0.5px;
  }
}
/* END SECTION OUR PROJECT - 5 */ 

/* SECTION CUSTOMER REVIEW - 6 */ 
.section-customer-review {
  .section-customer-review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
  }
  .section-customer-review-slider { 
    width: 750px;
    .section-customer-review-slider-item-quote {
      color: #000000;
      font-style: italic;
      font-weight: 400;
      font-size: 22px;
      line-height: 44px;
      letter-spacing: -2.3%;
      text-align: center;
    }
    .section-customer-review-slider-item-name {
      color: #1492FF;
      font-weight: 700;
      font-size: 22px;
      line-height: 44px;
      letter-spacing: -2.3%;
      text-align: center;
    }
    .section-customer-review-slider-item-company {
      color: #1492FF;
      font-style: italic;
      font-weight: 500;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: -2.3%;
      text-align: center;
    }
  }
}
/* END SECTION CUSTOMER REVIEW - 6 */
.section1-container {
  background-color: #000514;
  height: 96px;
  display: flex;
  align-items: center;
  padding: 0 64px;
  justify-content: space-between;
  border-bottom: 0.2px solid #1492FF;
  box-shadow: 0px 0px 4px #1492FF;
  
  .anchor {
    display: flex;
    .anchor-item {
      height: 42px;
      width: 128px;
      text-align: center;
      line-height: 38px;
      cursor: pointer;
      a {
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.019em;
        font-feature-settings: 'tnum' on, 'lnum' on;
        text-transform: capitalize;
      }
    }
    .anchor-active {
      background: #000514;      
      border: 0.5px solid #1492FF;
      box-shadow: 0px 0px 5px 1px #1492FF;
      border-radius: 0px 14px;
    }
  }
}

.section2-container {
  height: 657px;
  background: #000514;
  .headline {
    padding-top: 143px;
    margin-left: 175px;
    width: 407px;
    font-weight: 700;
    font-size: 39.619px;
    line-height: 150%;
    letter-spacing: 1.03496px;
    font-feature-settings: 'tnum' on, 'lnum' on;
  }
  .emphasize {
    color: #1492FF;
  }
  .paragraph-1 {
    margin-top: 25px;
    margin-left: 175px;
    width: 644px;
    font-weight: 400;
    font-size: 17.5069px;
    line-height: 150%;
    letter-spacing: 0.45733px;
    font-feature-settings: 'tnum' on, 'lnum' on;
  }

  .paragraph-2 {
    margin-top: 57px;
    margin-left: 175px;
    width: 644px;
    font-weight: 400;
    font-size: 17.5069px;
    line-height: 150%;
    letter-spacing: 0.45733px;
    font-feature-settings: 'tnum' on, 'lnum' on;
  }

  .button {
    margin-top: 57px;
    margin-left: 175px;
  }
}
