$bodyFontFamily: 'GT Maru Regular';
$siteMaxWidth: 1440px;
$textColor: #FFFFFF;
$textColorTag: #1492FF;
$textColorAchievementNumber: #1492FF;
$textColorHeadlineEven: #FFFFFF;
$textColorHeadlineOdd: #000000;
$textColorParagraphEven: #FFFFFF;
$textColorParagraphOdd: #000000;
$backgroundEven: #000514;
$backgroundOdd: #ECF3F6;
$backgroundButton: #1492FF;
$borderButton: #1492FF;
$contentMaxWidth: 100%;
$contentPaddingDesktop: 100px;
$contentPaddingMobile: 40px;
$contentPaddingMobileSmall: 20px;
$marginMobileSmall: 20px;
$marginMobileMedium: 40px;
$marginMobileLarge: 60px;
$marginDesktopSmall: 40px;
$marginDesktopMedium: 60px;
$marginDesktopLarge: 80px;
