$bodyFontFamily: 'GT Maru Regular';
$siteMaxWidth: 1440px;
$textColor: #FFFFFF;
$textColorTag: #1492FF;
$textColorAchievementNumber: #1492FF;
$textColorHeadlineEven: #FFFFFF;
$textColorHeadlineOdd: #000000;
$textColorParagraphEven: #FFFFFF;
$textColorParagraphOdd: #000000;
$backgroundEven: #000514;
$backgroundOdd: #F5F5F5;
$backgroundButton: #1492FF;
$borderButton: #1492FF;
$contentMaxWidth: 1090px;

